body{
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 20px;
}
h1{
    color: #1e3a8a;
    text-align: center;

}
.profile{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}
h2{
    color:#2563eb;
}
p{
    color:#333;
    line-height: 1.6;
}
ul{
    background: #fff;
    padding: 15px;
    border-radius: 8px;
}
li{
    margin: 10px;


}
table{
    width:100%;
    border-collapse: collapse;
    margin-top:20px;
}
table th, table td{
    border: 1px solod #ccc;
    padding:10px;
}
form{
    background:#fff;
    padding: 20px;
    margin-top: 20px;
    border-top: 8px;
}
button{
    background:#2563eb;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width:100px;
}
img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
}   
table tr:nth-child(even){
    background-color: #f9f9f9;
}
table th{
    background-color: #2563eb;
    color: white;
}
label{
    display:block;
    margin-bottom: 8px;

}
input, textarea, label{
    width: 90%;
    padding: 8px;
    margin-bottom:8px;
    border-radius:4px;
    align-items: center;

}
select{
    width: 50%;
padding:8px;
margin-bottom:8px;
}
textarea{
    height:100px
}

.cards{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 15px;
    padding: 30px;
        /* align-items: center; */
    }
.card{
    background: #1a5de4;
    padding: 20px;
    width: 200px;
    border-radius:10px;
    text-align: center;
    color: white;
}
@media(max-width:500px){
    body{
        padding:30px;
    }
    h1{
        font-size: 24px;
        color: #06e441;
    }
    h2{
        font-size: 20px;
        color: #06e441;
    }
    img{
        width: 300px;
        height: 300px;
        border-radius: 70%;
        text-align: center;
        /* flex-direction: row; */
        justify-content: center;
        margin: auto;
       
    }
    input{
        background: #ccc;
        border-radius: 10px;
    }
    form{
        width: 85%;
        margin: auto;
    }
    table{
        width: 100%;
        border-collapse: collapse;
        font-size: 18px;

    }
    input:hover{
        background: #11e984;
    }
    p:hover{
        color: #06e441;
    }
    .card{
        flex-direction: row;
        width: 100%;
    }

}
